.acces {
  color: black;
  text-align: justify;
  margin-left: 29%;
  margin-right: 29%;
}

.t_acces {
  color: #007bff;
  position: relative;
  max-width: 650px;
} 

.t_acces:after{
  content:" ";
  height: 2px;
  width: 580px;
  background: #007bff;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.p_acces {
  color: black;   
  text-align: center;
}

.bus {
    text-decoration: underline;
}

.plan {
    width: 650px;    
    height: 400px;
    margin-bottom: 150px;
}

.lien {
    text-decoration: underline;
    color:#007bff;
}

.vert {
    font-weight: bold; 
    color: white; 
    background-color: #00643c; 
    border-radius: 10px; 
    padding: 0px 6px;
    font-size: 14;
  }

  .bleu {
    font-weight: bold; 
    color: white; 
    background-color: #0055c8; 
    border-radius: 10px; 
    padding: 0px 6px;
    font-size: 14;
  }

.violet {
    font-weight: bold; 
    color: white; 
    background-color: #640082; 
    border-radius: 10px; 
    padding: 0px 6px;
    font-size: 14;
  }

  .rose {
    font-weight: bold; 
    color: white; 
    background-color:   #d282be; 
    border-radius: 10px; 
    padding: 0px 6px;
    font-size: 14;
  }

  #icon {
    color:#007bff;
  }