.acces {
  color: black;
  text-align: justify;
  margin-left: 29%;
  margin-right: 29%;
  margin-top: 12%;
}

.p_acces_mob {
  display: none;
}

.t_acces {
  color: #007bff;
  position: relative;
  max-width: 100%;
} 

.t_acces:after{
  content:" ";
  height: 2px;
  width: 90%;
  background: #007bff;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.p_acces {
  color: black;   
  text-align: center;
}

.bus {
    text-decoration: underline;
}

.plan {
    width: 100%;    
    margin-bottom: 150px;
}

.lien {
  color: #007bff; 
  font-weight: bold; 
  font-size: 16px; 
  transition: color 0.3s ease; 
}

.lien:hover {
  color: #006fe6;
}

.vert {
    font-weight: bold; 
    color: white; 
    background-color: #00643c; 
    border-radius: 10px; 
    padding: 0px 6px;
  }

  .bleu {
    font-weight: bold; 
    color: white; 
    background-color: #0055c8; 
    border-radius: 10px; 
    padding: 0px 6px;
    font-size: 14px;
    margin-bottom: 50px;
  }

.violet {
    font-weight: bold; 
    color: white; 
    background-color: #640082; 
    border-radius: 10px; 
    padding: 0px 6px;
    font-size: 14px;
  }

  .rose {
    font-weight: bold; 
    color: white; 
    background-color:   #d282be; 
    border-radius: 10px; 
    padding: 0px 6px;
    font-size: 14px;
  }

  #icon {
    color:#007bff;
  }

  @media (max-width: 650px) {
    .p_acces {
      display:none;
    }

    .acces {
      margin-top: -15%;
      margin-left: 17%;
      margin-right: 15%;
    }

    .acces .t_acces {
      color: #007bff;
      position: relative;
      max-width: 100%;
    } 

    .t_acces:after{
      content:" ";
      height: 2px;
      width: 76%;
      background: #007bff;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
    }

    .links {
      text-align: center;
    }
  }