.accueil {
  color: black;
    text-align: center;
    margin-left: 32%;
    margin-right: 29%;
    margin-top: 17%;
}

  .btn {
    padding: 0.8em 1.8em;
    border: 2px solid #007bff;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #007bff;
   }
   
   .btn::before {
    content: '';
    width: 0;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #007bff;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .btn:hover::before {
    width: 105%;
   }
   
   .btn:hover {
    color: white;
   }
   
   @media (max-width: 650px) {
    .accueil {
        margin-top: -15%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .btn {
        padding: 0.8em 1.8em;
        border: 2px solid #007bff;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        transition: .3s;
        z-index: 1;
        font-family: inherit;
        color: #007bff;
        margin-bottom: 100px; 
    }

    .btn::before {
        content: '';
        width: 0;
        height: 500%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: #007bff;
        transition: .5s ease;
        display: block;
        z-index: -1;
    }

    .btn:hover::before {
        width: 105%;
    }

    .btn:hover {
        color: white;
    }
}

