.App {
  color: black;
  text-align: center;
} 

/* body {
  margin-bottom: 30%;
} */

.container {
  position: relative;
}

.bobi {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 20px;
  width: 250px;
  height: auto;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: white; 
}

::-webkit-scrollbar-thumb {
  background: #8e8e8e; 
}

::-webkit-scrollbar-thumb:hover {
  background: #007bff; 
}


@media (max-width: 650px) { 
  .bobi {
    display:none;
  }
}