.foot {
    position: fixed;
    /* margin-top: 50px; */
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .footer {
    font-size: 10px;
  }
  
  .droits {
    color: white;
    font-size: 14px;
    margin: 0;
  }

  .mail {
    color:white;
    text-decoration: none;
  }

  @media (max-width: 650px) { 
    .foot {
      margin-top: 10px;
      padding: 10px;
      position:absolute;
      bottom:0;
      width: 100%;
      z-index: 999;
      pointer-events: none;
      position: relative;
    }

    .footer {
      font-size: 60%;
      margin: 3px;
    }

    .droits {
      font-size: 70%;
      margin: 3px;
    }
  }