footer {
    margin-top: 50px;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .footer {
    font-size: 10px;
  }
  
  p {
    color: white;
    font-size: 14px;
    margin: 0;
  }

  .mail {
    color:white;
    text-decoration: none;
  }