.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #007bff;
  padding: 20px;
  text-align: center;
  z-index: 1000; 
  }

.title {
  color: white;
  margin: 0;
  font-size: 40px;
}

.spe {
  color: white;
  margin: 0;
  font-size: 20px;
}
