.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #007bff;
  padding: 20px;
  text-align: center;
  z-index: 1000; 
  }

.title {
  color: white;
  margin: 0;
  font-size: 40px;
}

.spe {
  color: white;
  margin: 0;
  font-size: 20px;
}

.spe2 {
  color: white;
  margin: 0;
  font-size: 20px;
}

@media (max-width: 650px) { 
  .title {
    font-size: 100%;
  }

  .spe {
    font-size: 100%;
  }

  .spe2 {
    font-size: 83%;
  }

  .header {
    padding: 10px;
    }
}