/* .menu { 
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 220px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  margin-top: 160px;
}*/

.menu2 .hamburger { 
  display: none;
  cursor: pointer;
}

.menu2 .dropdown {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background-color: #007bff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 999; 
}


@media (max-width: 650px) {
  .menu2 {
    flex-direction: row;
    margin-top: 30%;
    width: 14%;
    position: relative;
  }

  .menu1 {
    display: none;
  }

  .menu1 .input {
    display: none;
  }

  .menu2 .hamburger {
    display: block;
    background-color: #007bff;
    margin-left: 10px;

  justify-content: center;
  border-radius: 5px;
  }

  .menu2 .dropdown {
    margin-left: auto;
    margin-right: auto;
  }

  .dropdown:hover > :not(.value:hover) {
    transition: 300ms;
    filter: blur(1px);
    transform: scale(0.95,0.95);
  }
}

.menu1 {
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 220px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  margin-top: 160px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #007bff;
  justify-content: center;
  border-radius: 5px;
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  align-items: center; 
  font-size: 20px;
}

.value:not(:active):hover,
.value:focus {
  background-color: white;
  color:#007bff;
}

.value:focus,
.value:active {
  background-color: white;
  outline: none;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

.value svg {
  width: 15px
}

.input:hover > :not(.value:hover) {
  transition: 300ms;
  filter: blur(1px);
  transform: scale(0.95,0.95);
}

.value.active {
  background-color: white;
  color: #007bff;
  position: relative;
}

.value.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px; 
  height: 100%;
  width: 5px; 
  background-color: #007bff; 
}

