.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px; 
    background-color: #007bff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
  }
  
  .menu .nav {
    width: 100%;
    margin-left: 50px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul li {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .menu ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu ul li a:hover {
    background-color: white;    
    color: #007bff; 
    text-decoration: none;
  }
  
  .menu ul li a svg {
    margin-right: 10px;
  }
  