.prestations {
    color: black;
    text-align: justify;
    margin-left: 29%;
    margin-right: 29%;
    margin-top: 12%;
    margin-bottom: 15%;
  }
  
  .t_prestations {
    color: #007bff;
    position: relative;
    max-width: 100%;
  } 
  
  .t_prestations:after{
    content:" ";
    height: 2px;
    width: 81%;
    background: #007bff;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
  
  .p_prestations {
    color: black;
  }
  
  .category-button {
    background: #007bff;
    color: #fff;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 15px;
    border: 3px solid #003f7e;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    margin-bottom: 5px
  }

  .category-button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .category-button.active {
    background-color: #006fe6;
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  
  .subcategories {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .subcategories li {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
  }

  ul {
    list-style-type: none; 
    padding-left: 0;
  }

  .souligne {
    text-decoration: underline; 
  }
  
  @media (max-width: 650px) {
    .t_prestations:after{
      content:" ";
      height: 2px;
      width: 54%;
      background: #007bff;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
    }

    .prestations {
      margin-top: -15%;
        margin-left: 17%;
        margin-right: 15%;
    }
  }